<%- include('partials/header') %> 
<%- include('partials/navbar') %> 
<%- include('partials/jumbo') %>
<div class="container main-body" id="content">
    <div class="banner-text">
        <h1 class="display-5">Discover the best Groceries & Veggies</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur eius ipsa voluptatem. Blanditiis labore ea tenetur quo cumque temporibus sint.</p>
    </div>
    <div class="banner">
        <div class="card-group banner-card-group">
            <div class="card banner-card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1526364163643-89e30b8fcb70?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJhbmFuYXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                <div class="card-body" style="margin: 0 auto;">
                  <a href="/products" class="btn">Order Now</a>
                </div>
              </div>
              <div class="card banner-card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1524593410820-38510f580a77?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Z3JlZW4lMjBjaGlsbGl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                <div class="card-body" style="margin: 0 auto;">
                  <a href="/products" class="btn">Order Now</a>
                </div>
              </div>
              <div class="card banner-card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1591206369811-4eeb2f03bc95?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODV8fG9yYW5nZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                <div class="card-body" style="margin: 0 auto;">
                  <a href="/products" class="btn">Order Now</a>
                </div>
              </div>
              <div class="card banner-card my-3" style="margin-left: 30px;">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1509624841974-19055d96ffcc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cG9tb2dyYW5hdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                <div class="card-body" style="margin: 0 auto;">
                  <a href="/products" class="btn">Order Now</a>
                </div>
              </div>
              <div class="card banner-card my-3">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1518977676601-b53f82aba655?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cG90YXRvfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                <div class="card-body" style="margin: 0 auto;">
                  <a href="/products" class="btn">Order Now</a>
                </div>
              </div>
              <div class="card banner-card my-3">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1568581789190-ae90a7da930b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRvbWF0b3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                <div class="card-body" style="margin: 0 auto;">
                  <a href="/products" class="btn">Order Now</a>
                </div>
              </div>
        </div>
    </div>
</div>     
<%- include('partials/footer') %> 